* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    background: #eff4fd;
}

nav {
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}

/* .navitem{
    margin-left: 400px;
} */

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

nav ul li a:hover {
    color: red;
}


/* Home Section */

.detel {
    margin-left: 8%;
    margin-top: 13%;
}

.detel h1 {
    font-size: 50px;
    color: #212121;
    margin-bottom: 20px;
}

span {
    color: orange;
}

.detel p {
    color: #555;
    line-height: 22px;
}

.detel a {
    background: #212121;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}

.images {
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
}

.images img {
    height: 100%;
    position: absolute;
    left: 4%;
    bottom: 0;
    transform: translateX(-50);
    transition: bottom 1s, left 1s;
}

.images:hover .shape {
    bottom: 40px;
}

.images:hover .girl {
    left: 20%;
}

@media screen and (max-width: 600px) {
    .detel {
        margin-left: 8%;
        margin-top: 13%;
    }

    .detel h1 {
        font-size: 50px;
        color: #212121;
        margin-bottom: 20px;
    }

    .images {
        width: 45%;
        height: 70%;
        position: absolute;
        bottom: 0;
        right: 100px;
    }

    .images img {
        height: 90%;
        position: absolute;
        left: 0;
        bottom: 0;
    }

    .images .shape {
        width: 100%;
        left: 40%;
        bottom: -20%;
    }

    .images .girl {
        left: -50%;
    }
}

@media screen and (max-width: 600px) {
    .name {
        font-size: 40px;
    }
}


/* About Section */

.about {
    width: 100%;
    height: 100vh;
    padding: 50px 0px;
    background-color: #191919;
}

.about img {
    height: 80%;
    /* width: 430px; */
    margin-top: 0;
}

.about-text {
    width: 550px;
}

.main {
    width: 1130px;
    height: 100vh;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-text h2 {
    color: white;
    font-size: 3rem;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.about-text h5 {
    color: white;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}

.about-text p {
    color: #fcfc;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}

button {
    background-color: orange;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}

button:hover {
    background-color: transparent;
    border: 2px solid orange;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .about img {
        height: 400px;
        width: 300px;
        padding: 10%;
    }

    .about-text {
        width: 50%;
    }

    .des {
        font-size: auto;
    }

    .about{
        margin-top: 0;
        padding-top: 0;
    }

    .about-text h2 {
        color: white;
        font-size: 2rem;
        text-transform: capitalize;
        margin-bottom: 20px;
        margin-right: 20px;
    }

}


/* Skills */


.skills{
    height: 100vh;
    background-color: black;
}

#skillrow{
    /* text-align: center;
    align-items: center; */

    height: 100%;
    
}

#row1{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.cards {
    height: 165px;
    width: 135px;
    padding: 20px 35px;
    background: #191919;
    border-radius: 20px;
    margin: 50px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.card {
    background: #191919;
}

.cards i {
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: orange;
}

.cols h5 {
    color: white;
    font-size: 20px;
    margin-bottom: 15px;
}

.cols {
    margin: -70px;
}

@media screen and (max-width: 600px) {
    #row1{
        display: block;
        padding: 0;
        margin-left: 0;
    }

    #skillrow{
        width: 100vw;
        height: 100vh;
        display: flex;
        /* background-color: #eff4fd; */
        margin-left: 0;
    }

    .cards{
        margin: 20%;
        width: 140px;
        height: 100px;
        padding-bottom: 200px;
        align-items: center;
        margin-left: 150px;
    }

    .cards i{
        margin: 20%;
        width: 10px;
        
    }
} 

/* @media screen and (max-width: 600px) {

    .skills {
        background: #101010;
        width: 100%;
        padding: 100px 0px;
    }

    .service {
        background: #101010;
        width: 100%;
        padding: 100px 0px;
    }


    .title .h2 {
        color: white;
        font-size: 55px;
        width: 1130px;
        margin: 20px auto;
    }
} */



/* Works */

/* .service{
    background: #101010;
    width: 100%;
    height: 100%;
    padding: 100px 0px;
}
.serviceContent{
    width: 100%;
    display:  flex;
    justify-content: space-around;
} */

.title h2 {
    color: white;
    font-size: 75px;
    width: 1130px;
    margin: 55px auto;
    text-align: center;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}

.card {
    height: 365px;
    width: 335px;
    padding: 20px 35px;
    background: #191919;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.card i {
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: orange;
}

.pra p {
    color: #fcfc;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}

.card .button {
    background-color: orange;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    transition: .4s;
}

.card .button:hover {
    background-color: transparent;
    border: 2px solid orange;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
body,html{
    height: auto;
}

    .service {
        background: #101010;
        width: 100%;
        height: 600px;
        margin-top: -1265px;
        padding: 100px 0px;
    }

    .skills {
        background: #101010;
        width: 100%;
        height: 3000px;
        padding: 100px 0px;
    }

    .row {
        display: block;
        height: 100%;
    }
    

    .cols{
        margin: 0;
        padding: 0;
        height: 100px;
        width: 100vw;
    }

    .serviceContent {
        display: block;
        height: 100%;
    }

    .title h2 {
        color: white;
        font-size: 35px;
        width: 1130px;
        margin: 30px -359px;
        text-align: center;
    }

    .box {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 400px;
    }

    .card {
        height: 365px;
        width: 335px;
        padding: 20px 35px;
        background: #191919;
        border-radius: 20px;
        margin: 15px;
        position: relative;
        overflow: hidden;
        text-align: center;
    }

}



/* Hire Me */

.hire-me {
    width: 100%;
    height: 415px;
    margin: 0;
    padding: 0 ;
    background: #191919;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.hire-me p {
    color: white;
    font-size: 30px;
    font-weight: bold;
    height: 10px;
    margin-bottom: 25px;
}

.hire-me .button-two {
    background-color: orange;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}

.hire-me .button-two:hover {
    background-color: transparent;
    border: 2px solid orange;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .hire{
    margin-top: 1048px;
}
 .hire-me{
    height: 270px;
 }
 .hire-me p {
    
    font-size: 22px;
    height: 75px;
    margin-bottom: 25px;
}

}


/* Footer */

footer {
    position: relative;
    width: 100%;
    height: 400px;
    background: #101010;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer p:nth-child(1) {
    font-size: 30px;
    color: white;
    margin-bottom: 20px;
    font-weight: bold;
}

footer p:nth-child(2) {
    font-size: 17px;
    color: white;
    width: 500px;
    text-align: center;
    line-height: 26px;
}

.social {
    display: flex;
}

.social a {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: orange;
    border-radius: 50%;
    margin: 22px 10px;
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.social a:hover {
    transform: scale(1.3);
    transition: .3s;
}

.end {
    position: absolute;
    color: orange;
    bottom: 35px;
    font-size: 14px;
}

@media screen and (max-width: 600px){
    footer {
        /* position: relative;
        width: 100%; */
        height: 636px;
        padding-bottom: 311px;
        /* background: #101010;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; */
    }
    /* footer p:nth-child(1) {
        font-size: 30px;
        color: white;
        margin-bottom: 20px;
        font-weight: bold;
    }
    
    footer p:nth-child(2) {
        font-size: 17px;
        color: white;
        width: 500px;
        text-align: center;
        line-height: 26px;
    } */

    .end {
        bottom: 282px;
    }
}



/* In Phone */
@media only screen and (max-width: 480px) {

    html,
    body {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
}

/* In i-Pad */
@media screen and (max-width: 900px) and (min-width: 481px) {

    html,
    body {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
}